<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="work.andrebrandao"
    version="0.7.0"
>

  <name>Open Location Settings IOS</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/openLocationSettings.js" target="js/openLocationSettings.js"/>

  <js-module src="www/openLocationSettings.js" name="openLocationSettings">
    <clobbers target="openLocationSettings" />
  </js-module>


  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="OpenLocationSettings">
        <param name="ios-package" value="HWPOpenLocationSettings" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPOpenLocationSettings.h" target-dir="OpenLocationSettingsPlugin"/>
    <source-file src="src/ios/HWPOpenLocationSettings.m" target-dir="OpenLocationSettingsPlugin"/>
  </platform>

</plugin>